.background{
    width: 1920px;
    height: 1080px;
    left: 471px;
    top: 1177.04px;
    position:absolute;
    transform: rotate(-90);
    transform-origin: 0 0;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.25);
    border: 1px #a0a0a0 solid;
}

.websiteLogo{
    width: 299px;
    height: 299px;
    left: 87px;
    top: -11px;
    position: absolute;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
}

.ProfilePicture{
    width: 299px;
    height: 299px;
    left: 87px;
    top: 360px;
    position: absolute;
    box-shadow: 15px 15px 4px rgba(0,0,0,0.25);
    border-radius: 360px;
    border: 2px #DADADA solid;

}

.ProfilePicSelect{
    width: 299px;
    height: 299px;
    left: 997px;
    top: 187px;
    position: absolute;
    box-shadow: 15px 15px 4px rgba(0,0,0,0.25);
    border-radius: 360px;
    border: 2px #DADADA solid;
}

.websiteHeader{
    left: 1036px;
    top: 69px;
    position: absolute;
    color: #696969;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    word-wrap: break-word;
}

.email{
    left: 886px;
    top: 575px;
    position: absolute;
    color: #7B7B7B;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    word-wrap: break-word;
}

.ProfileName{
    left: 886px;
    top: 575px;
    position: absolute;
    color: #7B7B7B;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    word-wrap: break-word;
}

.saveButton{
    width: 267.50px;
    height: 56px;
    left: 997px;
    top: 828px;
    position: absolute;
    background-color: #519B54;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.AppTitle{
    width:327px;
    height:96px;
    left:98px;
    top:264px;
    position: absolute;
    color: #0E724C;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    word-wrap: break-word;
}

