/* Header.css */
.header {
    background-color: #0E724C; /* Green background color */
    color: #ffffff; /* White text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px;
    height:5vh;
  }
  
 
  /* Style navigation links or menu items as needed */
  