.custom-calendar {
    flex-direction: row; /* Change to row for horizontal arrangement */
    align-items: right;
    flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
    margin-top: 100px;
    margin-left: 0px;
    display: flex;
    justify-content: space-around; /* Optional: Adjust as needed */
  }
  
  .day-container {
    margin: 10px;
    text-align: center;
  }
  
  button {
    background-color: #0E724C; /* Light green background */
    padding: 10px;
    color: #ffffff;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .time-dropdown {
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .time-option {
    background-color: #0E724C; /* Light green background */
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    border-radius: 3px;
  }
  