.addPeople{
    border:none;
    text-decoration: underline;
    color: gray;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.Website-Logo{
    position: relative;
    top : 2px;
    left: 50px;
    width:200px;
    height:215px;
    border-radius:50%;
    box-shadow: 0 0 0 rgba(0,0,0,0.25);
}
.title{
    position:relative;
    margin-top: 15px;
    left: 60px;
  color:#0E724C;
  font-size:50px;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
}
.Calendar-title-input{
    font-size:35px;
    color: #696969;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight:700;
    word-wrap: break-word;
    border: none;
    outline:none;

}
.calendar-list{
    position: relative;
    left:1300px;
    font-size:35px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #696969;
    font-weight: 500;
    word-wrap:break-word;
}
.left-side-panel{
    position:relative;
  height:750px;
  margin-right: 64%;
  background-color: white;
  border:#666666 solid;
  height:20vh;
  width: 0vh;
  border-left: 3px solid #666666;
}
.right-side-panel{
    position:absolute;
    background-color: white;
    left: 1300px;
    width: 30vh;
    height:20vh;
    border-left: 4px solid #666666;
  
}
.create-btn{
    text-align: center;
    background-color: #0E724C;
    color:white;
    font-weight: 500;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    padding: 10px;
    border: none;
    cursor: pointer;
    width:200px;
    border-radius: 15px;
    position: relative;
    top: -50px;
    left:575px;
}
.newcalendar-btn{
    background-color: #0E724C;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    position:absolute;
    top:625px;
    left:1275px;
    
}
.newcalendar-btn:hover{
    background-color: #4CAF50;
}
.create-btn:hover{
    background-color: #4CAF50;
}
.shake{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    10%,30%,50%,70%,90%{
        transform: translateX(-5px);
    }
    20%,40%,60%,80%{
        transform:translateX(5px);
    }
}
.error-message{
    text-decoration: none;
    color:red;
    font-size:35px;
    font-weight:500;
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
.limit-message{
    text-decoration: none;
    color:red;
    font-size: 35px;
    font-weight:500;
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
.add-message{
    text-decoration: none;
    color:green;
    font-size: 35px;
    font-weight: 500;
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation{
    to{
        width:0;
        height:0;
        visibility:hidden;
    }
}