.addPeople {
    border: none;
    color: gray;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20vh;
    text-decoration: none; /* Remove underline */
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 30px;
  }
  
  /* Apply styles when the input is focused */
  .addPeople:focus {
    outline: none; /* Remove the default focus outline */
  }
  
  /* Apply styles to the placeholder text */
  .addPeople::placeholder {
    color: #7B7B7B; /* Set the color of the placeholder text */
  }
  

.Website-Logo{
    position: relative;
    top : 2px;
    left: 50px;
    width:200px;
    height:215px;
    border-radius:50%;
    box-shadow: 0 0 0 rgba(0,0,0,0.25);    
}

.title{
position:relative;
margin-top: 15px;
left: 60px;
color:#0E724C;
font-size:50px;
font-family: 'Times New Roman', Times, serif;
word-wrap: break-word;
}

.Calendar-title-input{
    font-size:35px;
    color: #696969;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight:700;
    word-wrap: break-word;
    border: none;
    outline:none;
    margin-left: 28vh;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 30px;
    text-decoration: none;
}

/* Apply styles when the input is focused */
.Calendar-title-input:focus::placeholder {
    color: transparent; /* Make the placeholder text transparent */
  }
  
  /* Apply styles to the placeholder text */
  .Calendar-title-input::placeholder {
    color: #7B7B7B; /* Set the color of the placeholder text */
  }

.calendar-list{
    position: relative;
    left:1300px;
    font-size:35px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #696969;
    font-weight: 500;
    word-wrap:break-word;
}
.left-side-panel{
  position:relative;
  height:750px;
  margin-right: 64%;
  background-color: white;
  height:90vh;
  width: 0vh;
}

.buttons {
        text-align: center;
        background-color: #0E724C;
        color: white;
        font-weight: 500;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        word-wrap: break-word;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 150px;
        height: 35px;
        border-radius: 15px;
        position: relative;
        margin-top: 3vh;
        margin-left: 83vh;
        line-height: 10px;
         /* Remove underline */
      }

.buttons:hover{
    background-color: #4CAF50;
}

.create-btn{
    text-align: center;
    background-color: #0E724C;
    color:white;
    font-weight: 500;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    padding: 10px;
    border: none;
    cursor: pointer;
    width:150px;
    height:35px;
    border-radius: 15px;
    position: relative;
    margin-top: 70vh;
    margin-left: 83vh;
    display: flex;
  align-items: center;
  justify-content: center;
}


.create-btn:hover{
    background-color: #4CAF50;
}
.shake{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    10%,30%,50%,70%,90%{
        transform: translateX(-5px);
    }
    20%,40%,60%,80%{
        transform:translateX(5px);
    }
}
.error-message{
    text-decoration: none;
    color:red;
    font-size:35px;
    font-weight:500;
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
.limit-message{
    text-decoration: none;
    color:red;
    font-size: 35px;
    font-weight:500;
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
.add-message{
    text-decoration: none;
    color:green;
    font-size: 35px;
    font-weight: 500;
    animation: cssAnimation 0s ease-in 5s forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation{
    to{
        width:0;
        height:0;
        visibility:hidden;
    }
}