*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form
{
    padding: 20px 30px;
    background: #f4f4f4;
    border-radius: 5px;
}
.form .container
{
    max-width: 100%;
}
.form .container form
{
    display: flex;
    flex-direction: column;
}
.form .container form input
{
    margin: 10px 20px;
    padding: 10px 10px;
    width: 300px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    color: #0d0d0d
}

.form .container form button
{
    width: 100px;
    padding: 10px 0px;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #0cc0df;
}
