.page{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1450px;
    height:650px;

}
.pageTitle{
    position:relative;
    left: 750px;
    margin-top: 50px;
    text-align: center;
    color: #696969;
    font-size:50px;
    font-weight: 500;
    word-wrap: break-word;
}

.Logo{
    position: relative;
    top: 50px;
    right: 500px;
    text-align: center;
}

.siteLogo{
    border-radius: 40%;
  width: 200px;
    height: 175px;
}
.WebsiteName{
    color:#0E724C;
  font-size:50px;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
  margin-top: 25px;
  left: -112px;
}

.profilePicture{
  position:relative;
  top: 350px;
  right: 700px;
}

.profilePhoto{
  height: 215px;
  width: 215px;
  border-radius: 50%;
}


.username{
  position:relative;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 500;
  color:#7B7B7B;
  word-wrap: break-word;
}

.left-side-panel{
    position:relative;
    top:55px;
    height: 750px;
    border:#666666 solid;
    border-width: 2px;
}
.right-side-panel{
    position:relative;
    top:55px;
    background-color: white;
    margin-left: 64%;
    height:fit-content;
    border: 2px solid #666666;
}
.calName{
    color: #696969; 
    text-align: center;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 500; 
    word-wrap: break-word;
    position: relative;
    left:375px;
    top: 15px;
}
.newCalBTN{
    background-color: #0E724C;
  text-align: center; 
  color: white; 
  font-size: 20px; 
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 500; 
  word-wrap: "break-word";
  width:150px;
  height:35px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 525px;
  position: relative;
  left:50px;
}
.newCalBTN:hover{
    background-color: #4CAF50;
}
.reminder{
  position: relative;
  top: 500px;
  left: -500px;
}
.reminder-text{
  color:#666666;
  position:relative;
  left:700px;
  font-size: 35px;
  font-weight:500;
  word-wrap: break-word;
  text-decoration: underline;
}
.save-btn{
  position:relative;
  top:-5px;
  margin-left:50px;
  background-color: #0E724C;
  color:white;
  text-align: center;
  font-size:20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  width:70px;
  height:50px;
  border:none;
  cursor: pointer;
  border-radius: 15px;
}
.save-btn:hover{
  background-color: #4CAF50;
}
.meeting-section{
  position: relative;
  top:75px;
  left:200px;
}
